*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Salsa', cursive;
}

html {
  font-size: 100%;
  font-family: 'Salsa', cursive;
   scroll-behavior:  smooth;

}

.navbar-default {
    background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); /* override background image gradient w/ flat color */
    color : white;
}
.main-heading {
opacity: 1;
  position: absolute;
  width: 50%;
  font-size: 3rem;
  z-index: 100;
  top: 2em;
  left: 2em;
  color: #FFFFFF;
}
/* BG SLIDESHOW CSS */
.slideshow,
.slideshow::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;

}
.slideshow::after {
  content: '';
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
.img-bg-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent; /*hides span's text*/
  background-size: cover; /* covers whole viewport */
  background-position: 100% 100%;
  background-repeat: none;
  opacity: 0.5;
  z-index: 100;
  animation: backgroundSlideshow 60s linear infinite 0s;
}
.slideshow li:nth-child(1) .img-bg-slide {
   background-image: url('https://www.teahub.io/photos/full/174-1747889_cute-cat-pictures-black-background.jpg');
}
.slideshow li:nth-child(2) .img-bg-slide { 
    background-image: url('https://wallpaper.dog/large/17053089.jpg');
    animation-delay: 15s; 
}
.slideshow li:nth-child(3) .img-bg-slide { 
    background-image: url('https://wallpaper.dog/large/17045732.jpg');
    animation-delay: 30s; 
}
.slideshow li:nth-child(4) .img-bg-slide { 
    background-image: url('https://wallpaper.dog/large/17045741.jpg');
    animation-delay: 45s; 
}
@keyframes backgroundSlideshow {
  0% { opacity: 0;}
  12.5% { opacity: 1;}
  25% { opacity: 1;}
  37.5% { opacity: 0;}
  100% { opacity: 0;} 
}
/* End of BG SLIDESHOW */

.Cardregister{

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed  ;
    height:80vh;  
    width: 43vh;
    margin-top: 100px;
    background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);

}

.formregister{
  width: 18rem;
}
.imageRegister{   
  border-radius: 30%;
  width:  40%;
  height:   30%;
  margin-bottom:  1rem;

}

.login-form{
   background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
   border: black;
   margin-top: 10rem;
   min-height: 60vh;
   max-height: 50vh;
   padding: 4rem 2rem 0 2rem;

   align-content: center;
   justify-content: center;
}
.homepage{
  margin-top:   2rem;
  justify-content: center;
    align-items: center;
    background-image:   url('http://www.profilerehab.com/facebook_covers/animals/sitting_cat_cover_1.jpg');
    border-radius:  25%;
    border-end-end-radius: 25%;
    background-repeat :   no-repeat;
    background-size: cover;
    background-attachment:  scroll  ;
    min-height: 2rem;
  
}

.admindashboard-design{
  background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  border-radius: 5%;
}


.homeCard-image{
  display:  flex;
  min-height:  60vh;
  max-height:  50vh;
  width:  100%;
  
}
.homeCardFont{
  font-family: 'Salsa', cursive;
text-align: center;
  font-size: 3rem;
}
.productCard-design{
  background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  color: white;
  max-height:   40vh;
  min-height:   200px;

}

.modalBackgroound{
 background-image: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  

}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.productCarrousel{

  max-height: 40vh;
  min-height: 40vh;
  object-fit: scale-down;
  position: sticky;

}

.product-image{
  width: 1300px; 
  height: 40vh;
  object-fit: unset   ;
  object-position:;

}
.productCard2{
  
  box-sizing:  content-box  ;
}

